<app-navbar></app-navbar>
<div class="p-10 text-center">
    <p-table [value]="userList" styleClass="p-datatable-gridlines">
        <ng-template pTemplate="header"> 
            <tr> 
                <th>Name</th> 
                <th>Date of Birth</th> 
                <th>Gender</th> 
                <th>Father Name</th>
            </tr> 
        </ng-template> 
        <ng-template pTemplate="body" let-userDetail>
            <tr>
                <td>{{ userDetail.name }}</td>
                <td>{{ userDetail.dob }}</td>
                <td>{{ userDetail.gender }}</td>
                <td>{{ userDetail.fatherName }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-toast position="bottom-center" />

